* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}
#loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

#loader img {
  width: 120px;
  margin-bottom: 10px;
}

#loader p {
  font-size: 16px;
  opacity: 0.7;
}
